:root {
    --smallSpace: 8px;
    --mediumSpace: 16px;
    --largeSpace: 24px;
    --fullScreen: 100svh;
    --fontFamily: 'Roboto';
    --fontSize: 18px;
  }

* {
  margin: 0;
  box-sizing: border-box;
}

main {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section {
  background-color: rgb(253, 253, 74);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
}

header, footer {
  background-color: white;
  height: 1fr;
  width: 100%;
}

#taskInput {
  height: 30px;
  width: 250px;
  border: black solid 1px;
  border-radius: 30px 0 0 30px;
  color: black;
  background-color: rgb(241, 241, 70);
}

#subButton {
  height: 30px;
  width: 100px;
  border: black solid 1px;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
  color: black;
  background-color: rgb(219, 219, 26);
}

#tasklist {
  display: flex;
  flex-direction: column;
  width: 350px;
}

#taskItem {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 25px;
  width: 250px;
  gap:50px;
}




#clearBtn {
  background-color: gray;
  color:white;
  height: 25px;
  width: 50px;

}