:root {
    --smallSpace: 8px;
    --mediumSpace: 16px;
    --largeSpace: 24px;
    --fullScreen: 100svh;
    --fontFamily: 'Roboto';
    --fontSize: 18px;
  }
}



* {
  margin: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}
#taskInput {
  height: 25px;
  width: 250px;
  border-radius: 12.5px 0 0 12.5px;
}

#subButton {
  height: 25px;
  width: 100px;
  border-radius: 0 12.5px 12.5px 0;
  cursor: pointer;
}

li {
  display: flex;
  flex-direction: column;
  list-style: none;
}